#app {
  background: #1E293B;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

#intro {
  width: 50vw;
}

#intro h1, #intro h3 {
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.image-wrapper {
  text-align:center;
}
#intro img {
  width: 100px;
  margin-top: 1em;
}

#intro a {
  color: #FFFFFF;
}

.todo-input {
  padding: 1em;
  width: 100%;
}

.add-btn {
  padding: 0.5em 1em;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  text-align:right;
}

.text-center {
  text-align:center;
}
