#app {
  background: #1E293B;
  min-height: 100vh;

  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
}

#intro {
  width: 50vw;
}

#intro h1, #intro h3 {
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#intro img {
  float: left;
  width: 6.5em;
  margin: 0.5em 2em;
}

#intro a {
  color: #FFFFFF;
}

.todo-input {
  padding: 1em;
  width: 300px;
}

.add-btn {
  padding: 1em 2em;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
}
